*{
	margin: 0;
	padding: 0;
	border: 0px;
}
body{
    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important
}
#happy-babies{
	border: 10px solid #93c3c4;
	position: relative;
	right: 0;
	display: inline-block;
	width: 100%;
}
.top-bar{
	background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
}
.top-bar-content{
	display: flex;
	align-items: center;
}
.top-bar-content .top-bar-left{
	width: 100%;
	float: left;
}
.top-bar-content .top-bar-left a{
	color: #333;
}
.top-bar-content .top-bar-mid{
	display: none;
}
.top-bar-content .top-bar-right{
	width: 100%;
}
.top-bar-content .top-bar-right a{
	width: 100%;
	color: #333;
}
.top-bar-icon2 {
	float: right;
}
.top-bar-content a:hover{
	text-decoration: none;
}
.top-bar-content a span:hover{
	color: #93c3c4;
}
/* ------------------------------- */

.logo-header {
    text-align: center;
    padding: 0px 0px 10px;
}

.wrap-logo {
    text-align: center;
}
.logo-header .wrap-logo a{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #93c3c4;
}
.logo-header .wrap-logo a img{
	margin: auto;
    width: 300px;
    height: auto;
}
/* ------------------- */
.fix{
	position: fixed !important;
	z-index: 10000;
	top: 0px;
    right: 119px;
    left: 119px;
    background: white;
}
.menu-header{
	position: relative;
	display: flex;
	justify-content: center;
}
#nav {
    position: relative;
    text-align: center;
    font-size: 13px;
    height: 100%;
}
#nav .main-nav ul {
    padding-left: 0;
    margin: 0;
}
#nav .main-nav>ul>li {
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .main-nav > ul>li>a {
	text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}
#nav .main-nav ul li a:hover{
    text-decoration: none;
    color: #93c3c4;
}
/* ----- */
.menutable{
    position: absolute;
    display: none;
    z-index: 1000;
}
.menutable ul li{
    border: 1px solid #93c3c4;
    border-left: white;
    border-right: white;
    background: white;
    padding: 10px !important;
    color: #333;
}
.menutable ul li a{
    color: #333;
}
.menutable ul li:nth-of-type(1){
    border-top: 2px solid #93c3c4;
}
#nav .main-nav ul li:hover >div.menutable{
    display: block;

}

#nav .menutable ul.menu2 div.menutable{
    position: absolute;
    z-index: 10;
}
#nav .menutable ul.menu2 li{
    display:block;
    height: 100%;
    padding: 0;
    z-index: 5;
}


/* --------------------------- */
.search-mobile{
	display: none;
}



@media only screen and (max-width: 992px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}
}

/* ----------------------------------end header----------------- */
main .notification nav a {
    color: #333;
    text-decoration: none;
}
main .notification nav a:hover{
	text-decoration: none;
	color: #93c3c4;
}
main img {
    max-width: 100%;
}
/* ----------------------------------------- */
.wrap-filter {
    position: sticky;
    top: 50px;
}
.title_block.visible-sm.visible-xs {
    display: none;
}
div#collection-body {
    width: 100%;
}
ul.tree-menu {
    list-style: none;
}
.sidebar-fix {
    position: sticky;
    margin-top: 50px;
}
ul.tree-menu li a{
	color: #333;
	text-decoration: none;
	padding: 5px 5px 5px 0;
}
ul.tree-menu > li > a {
    color: #000000d1;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}
ul.check-box-list {
    list-style: none;
    margin: 0px 0px 10px;
}

span.icon-control {
    position: relative;
    top: -1px;
    left: 5px;
    font-size: 8px !important;
}

.layered_subtitle.dropdown-filter span {
	font-weight: 600;font-size: 13px;
}

ul.check-box-list li {
    line-height: 20px;
    font-size: 12px;
}

.layered-content.bl-filter.filter-brand {
    height: auto;
}

ul.check-box-list input#data-brand-p1 {
    position: absolute;
    left: -9999px;
}

ul.check-box-list label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 0;
    color: #000000;
}
ul.check-box-list label:hover{
	color: #93c3c4;
}
span.before2 {
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 2px;
}
span.before2:hover{
	border: 1px solid #000;
}


.filter-color ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.filter-color li {
    display: inline;
    margin: 0 10px 10px 0;
    line-height: normal;
    float: left;
}
input#data-color-p1 {
    display: none;
}
.filter-color li label {
    border: 1px solid #eaeaea;
    width: 25px;
    height: 25px;
    border-radius: 0;
    float: left;
    position: relative;
    background-size: contain;
}

div#collection-body .site-animation {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 30px;
}
div#collection-body .site-animation a{
	text-decoration: none;
	color: #44709d;
}

.section-collection-home2 .pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 10px;
}
.pro-loop .product-img picture{
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pro-loop .product-img {
    position: relative;
    overflow: hidden;
    align-items: center;
}

.layer {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgb(0 ,0 ,0.5 );
    z-index: 2;
}
.pro-loop:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #0000009c;
    transition: 0.5s;
    transform: translateX(0);
    cursor: pointer;
}
.pro-loop .product-detail {
    padding: 20px 0;
    text-align: left;
}
.product-detail .box-pro-detail {
    z-index: 9;
    width: 100%;
}
.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro-loop .product-detail h3 a{
	color: #333333a6;
	text-decoration: none;
}
.pro-loop .product-detail h3 a:hover{
	color:#93c3c4;
}
p.pro-price {
    color: #000;
    font-weight: 600;
}

/* ------------------------------------------------ */
@media only screen and (max-width: 992px){
	.block-content {
	    display: none;
	}

	.title_block.visible-sm.visible-xs {
	    display: block;
	}
	.title_block.visible-sm.visible-xs {
	    font-size: 14px;
	    margin: 0 0 5px;
	    font-weight: 700;
	    text-transform: uppercase;
	    background: #f2f5fa;
	    padding: 8px 15px;
	    background: #f2f5fa;
	}
	div#collection-body .site-animation .view-all {
	    display: none;
	}

	div#collection-body .site-animation h2 {
	    text-align: center;
	    width: 100%;
	}

}

/* -----------------------end main--------------------- */

.main-footer {
    padding: 30px 0 0;
    background: #93c3c4;
    margin-top: 10px;
}
h4.footer-title {
    font-family: 'Quicksand', sans-serif!important;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 30px;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}
.footer-content ul {
    margin-bottom: 15px;
}
.footer-content ul li {
    display: block;
    line-height: 28px;
    position: relative;
    padding-left: 0px;
}
.footer-content ul li a {
    position: relative;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.footer-content ul li a:hover{
	color:#2aa0a2;
}
.footer-index .footer-content p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
}
.footer-index .contact-form {
    position: relative;
}
.footer-index .contact-form .input-group {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.footer-index .contact-form .input-group input {
    height: 46px;
    border: 1px solid #efefef;
    border-radius: 60px;
    width: 100%;
    font-size: 13px;
    padding-left: 5px;
}
.footer-index .contact-form .input-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    height: 35px;
    background: #44709d;
    border: #44709d;
    color: white;
    border-radius: 20px;
}
.iframe iframe{
    max-width: 100%;
}
.footer-bottom{
	padding: 30px 0px;
	width: 100%;
}
.footer-bottom p {
    margin-bottom: 20px;
}
.footer-bottom a {
    color: #000000;
}
.social-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.social-list a{
	padding: 5px;
}
.social-list.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px){
	.footer-content.toggle-footer {
    	display: none;
	}
	.form_newsletter {
	    display: none;
	}

	.footer-content {
	    display: none;
	}

	.footer-block {
	}

	.iframe {
	    display: none;
	}
	h4.footer-title {
	    font-size: 14px;
	    padding: 0;
	    margin: 0px 0px 10px;
	}
}
.fix{
	position: fixed !important;
    z-index: 10000;
    top: 0px;
	border-bottom: 1px solid #93c3c4;
}
.fix2{
	position: fixed !important;
    z-index: 10000;
    width: 270px;
    top: 600px;
}


