*{
	margin: 0;
	padding: 0;
	border: 0px;
}
body{
	position: relative;
    line-height: 1.4;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
    background: #fff;
    position: initial !important
}
#happy-babies{
	border: 10px solid #93c3c4;
	position: relative;
	right: 0;
	display: inline-block;
	width: 100%;
}
.top-bar{
	background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
}
.top-bar-content{
	display: flex;
	align-items: center;
}
.top-bar-content .top-bar-left{
	width: 100%;
	float: left;
}
.top-bar-content .top-bar-left a{
	color: #333;
}
.top-bar-content .top-bar-mid{
	display: none;
}
.top-bar-content .top-bar-right{
	width: 100%;
}
.top-bar-content .top-bar-right a{
	width: 100%;
	color: #333;
}
.top-bar-icon2 {
	float: right;
}
.top-bar-content a:hover{
	text-decoration: none;
}
.top-bar-content a span:hover{
	color: #93c3c4;
}
/* ------------------------------- */

.logo-header {
    text-align: center;
    padding: 0px 0px 10px;
}

.wrap-logo {
    text-align: center;
}
.logo-header .wrap-logo a{
	display: block;
    font-size: 32px;
    font-weight: bold;
    color: #93c3c4;
}
.logo-header .wrap-logo a img{
	margin: auto;
    width: 300px;
    height: auto;
}
/* ------------------- */
.fix{
	position: fixed !important;
	z-index: 10000;
	top: 0px;
    right: 119px;
    left: 119px;
    background: white;
}
.menu-header{
	position: relative;
	display: flex;
	justify-content: center;
}
#nav {
    position: relative;
    text-align: center;
    font-size: 13px;
    height: 100%;
}
#nav .main-nav ul {
    padding-left: 0;
    margin: 0;
}
#nav .main-nav>ul>li {
    display: inline-block;
    height: 100%;
    padding: 0;
    z-index: 5;
}
#nav .main-nav > ul>li>a {
	text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
}
#nav .main-nav ul li a:hover{
    text-decoration: none;
    color: #93c3c4;
}
/* ----- */
.menutable{
    position: absolute;
    display: none;
    z-index: 1000;
}
.menutable ul li{
    border: 1px solid #93c3c4;
    border-left: white;
    border-right: white;
    background: white;
    padding: 10px !important;
    color: #333;
}
.menutable ul li a{
    color: #333;
}
.menutable ul li:nth-of-type(1){
    border-top: 2px solid #93c3c4;
}
#nav .main-nav ul li:hover >div.menutable{
    display: block;

}

#nav .menutable ul.menu2 div.menutable{
    position: absolute;
    z-index: 10;
}
#nav .menutable ul.menu2 li{
    display:block;
    height: 100%;
    padding: 0;
    z-index: 5;
}


/* --------------------------- */
.search-mobile{
	display: none;
}



@media only screen and (max-width: 992px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}


}
@media only screen and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		border: 0px;
	}
	body {
	    line-height: 1.4;
	    font-size: 14px;
	    color: #000000;
	    overflow-x: hidden;
	    background: #fff;
	    position: initial !important;
	}
	.menu-header{
		display: none;
	}
	.logo-header .wrap-logo a img{
		display: none;
	}
	.top-bar-content .top-bar-mid{
		display: block;
		text-align: center;
	}
	.top-bar-content .top-bar-mid .wrap-logo a img{
		font-size: 32px;
	    font-weight: bold;
	    color: #93c3c4;
	    margin: auto;
    	max-width: 160px;
	} 
	.top-bar-content .top-bar-right a span{
		display: none;
	}
	.top-bar-content .top-bar-left a span{
		display: none;
	}
	/* ---------------------- */
	.search-mobile{
		display: block;
		padding: 0px 0px 5px;
	}
	.search-mobile .search-box form{
		position: relative;
	}
	.search-mobile .search-box form input#input-search{
		height: 30px;
	    font-size: 12px;
	    background: rgba(166, 214, 215, 0.1);
	    color: #000000;
	    width: 100%;
	    border: none;
	    font-weight: 500;
	    padding: 0 55px 0 20px;
	    margin: 0;
	    display: inline-block;
	    border-radius: 0;
	}
	.search-mobile .search-box form button.btn-search{
		top: 0px;
	    right: 0px;
	    height: 30px;
	    line-height: 30px;
	    width: 55px;
	    position: absolute;
	    padding: 0;
	    background: transparent;
	}
	.search-mobile .search-box form button.btn-search i.fa.fa-search {
	    color: #33333340;
	}
}

/* ----------------------------------end header----------------- */

main .notification nav a {
    color: #333;
    text-decoration: none;
}
main .notification nav a:hover{
	text-decoration: none;
	color: #93c3c4;
}
main img {
    max-width: 100%;
    max-height: 100%;
}
/* -------------silder----------------- */

a.list-group-item.list-group-item-action.active {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border: none !important;
}
a.list-group-item.list-group-item-action {
    width: 60px;
    padding: 5px;
    margin-left: 35px;
    border: none;
}
div#list-example {
    position: sticky;
    top: 0;
    height: 100%;
}
div#carouselExampleIndicators {
    display: none;
}
/* --------------------------------- */
.product-title {
    padding: 0 0 10px;
    border-bottom: 1px dotted #dfe0e1;
}

.product-title h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    line-height: initial;
    color: #44709d;
}

div#price-preview {
    padding: 0 0 10px;
    border-bottom: 1px dotted #dfe0e1;
}

span.pro-price {
    font-size: 18px;
    opacity: .92;
    font-weight: bold;
}
.header.hide {
    display: none;
}
.header.hide {
    display: none;
}

.select-wrap {
    display: inline-block;
    vertical-align: middle;
}

.swatch-element-nau {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    vertical-align: bottom;
}

input#swatch-nau {
    display: none;
}
label.nau-sd {
    background: transparent;

    width: 30px;
    height: 30px;
    padding: 3px;
    color: #fff;
 
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    display: block;
    margin: 0;
}
label.nau-sd:active{
	border: 1px solid #808284;
	border-radius: 50%;
}
.swatch-element-trang {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    vertical-align: bottom;
}

input#swatch-trang {
    display: none;
}
label.trang-sd {
    background: transparent;
    border: 1px solid #808284;
    width: 30px;
    height: 30px;
    padding: 3px;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    position: relative;
    display: block;
    margin: 0;
}


label.nau-sd span {
    background: #d35400 !important;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
}
label.trang-sd span{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid #f5f5f5;	
}
/* ------------------------------------ */
.selection-actions {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
span.input-number-decrement {
    float: left;
    background: #f2f5fa;
    border: solid 1px #f2f5fa;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

span.input-number-increment {
    float: left;
    background: #f2f5fa;
    border: solid 1px #f2f5fa;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

input.input-number {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f2f5fa;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    -webkit-appearance: none;
}
.quantity-area.clearfix {
    margin-bottom: 15px;
}

button#add-to-cart {
    font-size: 12px;
    font-weight: 500;
    padding: 14px 35px;
    line-height: 22px;
    text-decoration: tr;
    text-transform: uppercase;
    width: 100%;
    border-radius: 30px;
    background: #44709d;
    color: white;
    border: 2px solid;
    vertical-align: middle;
    height: auto;
}
.title-bl h2 {
    font-size: 14px;
    font-weight: 700;
    color: #44709d;
}

.description-productdetail p {
    font-size: 14px;
}
.description-productdetail h4{
	font-size: 14px !important;
}
.description-productdetail h4 span {
    font-size: 14px;
    color: #44709d;
}
.description-productdetail ul {
    list-style: none;
}
.col-lg-4.col-md-12.col-sm-12.col-xs-12.product {
    position: sticky;
    height: 100%;
    top: 0;
}
/* -------------------------------------------- */
.heading-title.text-center h2 {
    font-size: 28px;
    color: #44709d;
    text-transform: uppercase;
    margin: 50px 0px 50px 0px;
    font-weight: 500;
}
@media only screen and (min-width: 992px){
	div.pro-loop {
	    flex: 0 0 20%;
	}
}

.section-collection-heading-home2 .site-animation {
    padding: 20px 0px 30px;
}
.section-collection-home2 .pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 10px;
}
.section-collection-home2 .pro-loop .product-img {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.pro-loop .product-img picture {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pro-loop .product-img picture img{
	max-width: 100%;
}
.pro-loop .product-detail {
    padding: 20px 0;
    text-align: left;
}
.product-detail .box-pro-detail {
    z-index: 9;
    width: 100%;
}
.pro-loop .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pro-loop .product-detail h3 a{
	color: #333333a6;
	text-decoration: none;
}
.pro-loop .product-detail h3 a:hover{
	color:#93c3c4;
}
p.pro-price {
    color: #000;
    font-weight: 600;
}
.layer {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    background: rgb(0, 0, 0.5);
    z-index: 2;
    top: 0px;
}
.pro-loop:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #0000009c;
    transition: 0.5s;
    transform: translateX(0);
    cursor: pointer;
}
.col-lg-6.product1-1 {
    padding-bottom: 15px;
    padding-top: 10px;
}   
/* ------------------------------------------- */
@media only screen and (max-width: 992px){
	div#list-example {
	    display: none;
	}

	.col-lg-10 {
	    display: none;
	}
	div#carouselExampleIndicators {
	    display: block;
	    margin-bottom: 20px;
	}
    div.product1-1 {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    div#list-example {
        display: none ;
    }

    .col-lg-10 {
        display: none;
    }
    div#carouselExampleIndicators {
        display: block;
        margin-bottom: 20px;
    }
    .product1-1 {
        display: none !important;
    }
}
@media only screen and (max-width: 576px){
    div#list-example {
        display: none;
    }
    .col-lg-10 {
        display: none;
    }
    div#carouselExampleIndicators {
        display: block;
        margin-bottom: 20px;
    }
    .product1-1 {
        display: none;
    }
}

/* -----------------------end main--------------------- */
span.input-number-decrement {
    float: left;
    background: #f2f5fa;
    border: solid 1px #f2f5fa;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

span.input-number-increment {
    float: left;
    background: #f2f5fa;
    border: solid 1px #f2f5fa;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

input.input-number {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f2f5fa;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
    -webkit-appearance: none;
}
.main-footer {
    padding: 30px 0 0;
    background: #93c3c4;
    margin-top: 10px;
}
h4.footer-title {
    font-family: 'Quicksand', sans-serif!important;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 30px;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}
.footer-content ul {
    margin-bottom: 15px;
}
.footer-content ul li {
    display: block;
    line-height: 28px;
    position: relative;
    padding-left: 0px;
}
.footer-content ul li a {
    position: relative;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.footer-content ul li a:hover{
	color:#2aa0a2;
}
.footer-index .footer-content p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
}
.footer-index .contact-form {
    position: relative;
}
.footer-index .contact-form .input-group {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.footer-index .contact-form .input-group input {
    height: 46px;
    border: 1px solid #efefef;
    border-radius: 60px;
    width: 100%;
    font-size: 13px;
    padding-left: 5px;
}
.footer-index .contact-form .input-group button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    height: 35px;
    background: #44709d;
    border: #44709d;
    color: white;
    border-radius: 20px;
}
.iframe iframe{
    max-width: 100%;
}
.footer-bottom{
	padding: 30px 0px;
	width: 100%;
}
.footer-bottom p {
    margin-bottom: 20px;
}
.footer-bottom a {
    color: #000000;
}
.social-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.social-list a{
	padding: 5px;
}
.social-list.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px){
	.footer-content.toggle-footer {
    	display: none;
	}
	.form_newsletter {
	    display: none;
	}

	.footer-content {
	    display: none;
	}

	.footer-block {
	}

	.iframe {
	    display: none;
	}
	h4.footer-title {
	    font-size: 14px;
	    padding: 0;
	    margin: 0px 0px 10px;
	}
}
.fix{
	position: fixed !important;
    z-index: 10000;
    top: 0px;
	border-bottom: 1px solid #93c3c4;
}
.fix2{
	position: fixed !important;
    z-index: 10000;
    width: 270px;
    top: 600px;
}

